* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: black;
  box-shadow: 2px 2px 3px 1px #ccc;
}
header div.logo {
  display: flex;
  align-items: center;
  flex: 4 1 400px;
  margin-left: 1rem;
}

header div.logo img {
  width: 7vw;
  height: 7vw;
}
header div.logo div {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
header div.logo div h1 {
  padding-left: 0.25rem;
  color: white;
  font-size: 2em;
  font-weight: normal;
}
header div a.showmenu {
  display: none;
  padding: 0.2rem;
}
header div a.showmenu img {
  width: 2.6rem;
  background-position: center;
  /* color: white; */
}
header nav {
  flex: 2 1 400px;
}
header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-self: start;
  position: relative;
  right: 25rem;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
}
header nav ul li a:hover{
  color:grey;
}
header div {
  flex: 1 1 50px;
  margin-right: 1rem;
}
header div a {
  background-color: white;
  color: black;
  padding: 0.1rem 0.5rem;
  text-decoration: none;
  width: 100%;
  font-size: 1.25rem;
  border-radius: 5px;
  border: none;
}

header div a:hover {
  background-color: grey;
}

main section.backImage {
  position: relative;
  min-height: 90vh;
  width: 100%;
  background-image: url("./picture/background.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
main section.backImage div.filter {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0.2;
  z-index: 1;
}
main section.backImage h1 {
  position: absolute;
  top: 8rem;
  font-size: 2rem;
  z-index: 2;
}

@media screen and (max-width: 1000px) {
  header {
    flex-direction: column;
    position: relative;
    min-height: 6em;
  }
  header div.logo {
    position: absolute;
    top: 0.5em;
    left: 1em;
    flex-basis: 0;
    flex-grow: 0;
  }
  header div.logo img{
    width: 12vw;
    height: 12vw;
  }
  header div a.showmenu {
    filter: invert();
    display: block;
    position: absolute;
    width: 3rem;
    height:3rem;
    top: 1em;
    right: 1em;
    float: right;
    /* color: white; */
  }
  header nav {
    overflow: hidden;
    max-height: 0px;
    background:black;
    flex-basis: 0;
    flex-grow: 0;
    position: absolute;
    z-index: 100; 
    top: 81px;
    left: 0; 
    right: 0;
  }
  header nav.menu-show{
    max-height: 500px; 
    transition: max-height 2.3s;
  }
  header nav ul {
    font-size: 1.5rem;
    width: 100%;
    flex-direction: column;
    position: sticky;
    align-items: right;
    margin: 0.5rem;
  }
  header nav ul li {
    margin: 0.4rem 0rem;
  }
  header div.login {
    max-height: 0px;
    overflow: hidden;
  }
  header div a {
    flex-basis: 0;
    flex-grow: 0;
  }
}
