* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: black;
  box-shadow: 2px 2px 3px 1px #ccc;
}
header div.logo {
  display: flex;
  align-items: center;
  flex: 1 1 200px;
  margin-left: 1rem;
}

header div.logo img {
  width: 7vw;
  height: 7vw;
}
header div.logo div {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
header div.logo div h1 {
  padding-left: 0.25rem;
  color: white;
  font-size: 2em;
  font-weight: normal;
}
header div a.showmenu {
  display: none;
  padding: 0.2rem;
}
header div a.showmenu img {
  width: 2.6rem;
  background-position: center;
  /* color: white; */
}
header nav {
  flex: 1 1 400px;
}
header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-self: center;
  position: relative;
  /* right: 25rem; */
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
}
header nav ul li a:hover {
  color: grey;
}
header div.menu {
  flex: 1 1 50px;
}
header div.login a {
  margin-right: 1rem;
  background-color: white;
  color: black;
  padding: 0.1rem 0.5rem;
  text-decoration: none;
  width: 100%;
  font-size: 1.25rem;
  border-radius: 5px;
  border: none;
}

header div a:hover {
  background-color: grey;
}

main section.backImage {
  position: relative;
  min-height: 90vh;
  width: 100%;
  background-image: url("./picture/background.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
main section.backImage div.filter {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0.2;
  z-index: 1;
}
main section.backImage div.title {
  position: absolute;
  top: 4rem;
}
main section.backImage div.title h1 {
  font-size: 2.5rem;
  z-index: 2;
  color: white;
  text-shadow: 0.25rem 0.25rem 1px black;
}
/* div.contact{
  position: relative;
} */
/* div.contact a{
  position: absolute;
  bottom: 2em;
  right:2em;
}
div.contact a img#line{
  width: 4em;
  height: 4em;
} */

main section.chartinfo {
  display: flex;
  /* flex-direction: column; */
}
main section.chartinfo div.chart {
  flex: 3 1 50px;
  width: 900px;
  height: 500px;
}
main section.chartinfo div.info {
  flex: 1 1 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
  margin-right: 3em;
}

footer.info {
  display: flex;
  background-color: black;
}
footer.info section.left {
  flex: 1 1 50px;
  justify-self: center;
}
footer.info section.left img {
  width: 12rem;
  height: 12rem;
  float: right;
  object-position: center;
}
footer.info section.right {
  display: flex;
  /* flex-direction: column; */
  flex: 5 1 50px;
  color: white;
  justify-content: space-evenly;
}
footer.info section.right div.info div.title {
  margin: 0.5rem 0rem;
}
footer.info section.right div.info div.title h1 {
  border: none;
}
footer.info section.right div.info div.content {
  margin: 0.5rem 0rem;
}
footer.info section.right div.info div.content a {
  color: white;
  text-decoration: none;
}
footer.info section.right div.info div.content a:hover {
  color: grey;
}
footer.info section.right div.info div.content a img {
  width: 3rem;
  height: 3rem;
}
footer.copyright {
  display: flex;
  background: black;
  align-items: center;
  justify-content: center;
}
footer.copyright div {
  color: white;
  /* margin-bottom: 0.5rem; */
  font-family: "Ropa Sans", sans-serif;
}

.card-text {
  min-height: 8rem;
}
.card-img-top {
  height: 10em;
}
.card-title a {
  text-decoration: none;
  color: black;
}
.card-title a:hover {
  text-decoration: none;
  color: gray;
}
@media screen and (max-width: 1000px) {
  main section.chartinfo div.info {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  header {
    flex-direction: column;
    position: relative;
    min-height: 6em;
  }
  header div.logo {
    position: absolute;
    top: 0.5em;
    left: 1em;
    flex-basis: 0;
    flex-grow: 0;
  }
  header div.logo img {
    width: 5em;
    height: 5em;
  }
  header div a.showmenu {
    filter: invert();
    display: block;
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 1em;
    right: 1em;
    float: right;
  }
  header nav {
    display: none;
    background: black;
    max-height: 0px;
    flex-basis: 0;
    flex-grow: 0;
    position: absolute;
    z-index: 100;
    top: 81px;
    left: 0;
    right: 0;
  }

  header nav ul {
    background-color: black;
    font-size: 1.5rem;
    width: 100%;
    flex-direction: column;
    position: sticky;
    align-items: right;
    margin: 0.8rem 0rem;
  }
  header nav ul li {
    margin: 0.4rem 0.5rem;
  }
  header div.login {
    max-height: 0px;
    overflow: hidden;
  }
  header div a {
    flex-basis: 0;
    flex-grow: 0;
  }
  main section.chartinfo {
    display: flex;
  }
  main section.chartinfo div.chart {
    flex: 1 1 50px;
    width: 800px;
  }
  main section.chartinfo div.info {
    flex: 1 1 50px;
  }
  footer{
    flex-direction: column;
    padding: 0rem 1rem;
  }
  footer section.left img {
    float: left;
  }
  footer section.right {
    flex-direction: column;
  }
  footer section.right div.info div.content a img {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 500px) {
  main section.chartinfo div.chart {
    width: 400px;
  }
}